<p>
	<%= f.label :first %><br>
	<%= f.text_field :first %>
</p>
<p>
	<%= f.label :middle %><br>
	<%= f.text_field :middle %>
</p>
<p>
	<%= f.label :last %><br>
	<%= f.text_field :last %>
</p>
<%= render 'shared/submit_button', f: f %>