<div class="container">
	<%= link_to "Back to All #{@model_name.titleize.pluralize}", url_for([@model_name.pluralize]) %>
	<h1><%= @item %></h1>

	<%= yield %>

	<div>
		<%= link_to "Edit", edit_polymorphic_url(@item), {class: 'btn btn-default'} %>
		<%= link_to "Delete", polymorphic_url(@item), 
													{class: 'btn btn-danger', method: :delete, data: 
														{confirm: "Are you sure you want to delete #{@item}?"} 
													} %>
	</div>
</div>