<div class="container">
	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><%= value %></div>
	<% end %>
	<h1><%= @model[:name].pluralize %> Index</h1>
	<%= link_to "Add #{@model[:name]}", url_for(["new_#{@model[:name].downcase}"]), {class: 'btn btn-success'} %>
	
	<ul>
		<% @model[:items].each do |item| %>
			<li>
				<%= link_to item, item %>
				<%= link_to 'Edit', edit_polymorphic_url(item), {class: 'btn btn-default'} %>
				<%= link_to 'Delete', polymorphic_url(item), {
																method: :delete, class: 'btn btn-danger',
																data: {confirm: "Are you sure you want to delete #{item}?"}
															}  %>
			</li>
		<% end %>
	</ul>
</div>