<div class="container index">
	<%= render 'shared/flash_alert' %>
	<h1><%= @model[:name].pluralize.gsub(/_/, ' ') %></h1>
	<%= link_to "Add #{@model[:name].gsub(/_/, ' ')}", url_for(["new_#{@model[:name].downcase}"]), {class: 'btn btn-success btn-sm'} %>
	<div class="search_container"><input type="search" placeholder="Search" id="index_search" /> </div>
	<ul class="index_list" id="index_list">
		<% @model[:items].each do |item| %>
			<li>
				<%= link_to item, item, {class: 'js_item_link'} %>
				<div class="btn_group">
					<%= link_to image_tag('ei-search.svg'), SuperSearch.url_for(item.to_s), {class: 'btn btn-primary btn-sm btn_search'} %>
				</div>
			</li>
		<% end %>
	</ul>
</div>