<div class="container">
	<% 
		if defined? session[:index_link_params]
			index_link = url_for([@model_name.pluralize, session[:index_link_params]])
		else
			index_link = url_for([@model_name.pluralize])
		end
	 %>

	<%= link_to image_tag('ei-chevron-left.svg', {class: 'icon'}) + "Back to All #{@model_name.titleize.pluralize}", index_link, {class: 'back_link'} %>

	<%= render 'shared/flash_alert' %>
	<div class="show_header">
		<h1 class="heading"><%= @item %></h1>
		<div class="btn_group">
			<%= link_to "Edit", edit_polymorphic_url(@item), {class: 'btn btn-default btn-xs'} %>
			<%= link_to "Delete", polymorphic_url(@item), 
														{class: 'btn btn-danger btn-xs', method: :delete, 
															data: {confirm: "Are you sure you want to delete #{@item}?"}
														} %>
			<%= link_to image_tag('ei-search.svg'), SuperSearch.url_for(@item.to_s), {class: 'btn btn-primary btn-xs btn_search'} %>
		</div>	
	</div>
	

	<%= render partial: "#{@model_name.pluralize}/show" if lookup_context.find_all("#{@model_name.pluralize}/_show").any?  %>

	
</div>