<p><%= link_to @book.author, @book.author if @book.author %></p>
<p><%= @book.classification %></p>
<p><%= @book.genre %></p>
<p><%= @book.pre_rating %></p>
<div>
	<div class="show_category_header">
		<h3 class="heading">Lists</h3>
		<div class="btn_group">
			<%= link_to 'Add to list', new_list_book_url(book: @book.id), {class: 'btn btn-success'} %>
		</div>
	</div>
		<ul class="show_categories_list">
			<% @book.lists.each do |list| %>
				<% list_book = (list.list_books & @book.list_books)[0] %>
				<li>
					<%= link_to list, list %>
					<%= link_to 'Remove', polymorphic_url(list_book, book: @book.id), {
																method: :delete, class: 'btn btn-danger btn-xs',
																data: {confirm: "Are you sure you want to remove #{@book} from #{list}?"}
															} %>
				</li>
	 		<% end %>
	 	</ul>
</div>
<div>
	<div class="show_category_header">
		<h3 class="heading">Locations</h3>
		<div class="btn_group">
			<%= link_to 'Add to location', new_book_location_url(book: @book.id), {class: 'btn btn-success'} %>
		</div>
	</div>
		<ul class="show_categories_list">
			<% @book.book_locations.each do |book_location| %>
				<li>
					<%= link_to "#{book_location.location} - #{book_location.calculated_call_num}", edit_polymorphic_url(book_location, book: @book.id) %>
					<%= link_to 'Remove', polymorphic_url(book_location, book: @book.id), {
																method: :delete, class: 'btn btn-danger btn-xs',
																data: {confirm: "Are you sure you want to remove #{@book} from #{book_location.location}?"}
															} %>
				</li>
	 		<% end %>
	 	</ul>
</div>
<div>
	<div class="show_category_header">
		<h3 class="heading">Ratings</h3>
			<div class="btn_group">
				<%= link_to 'Add Rating', new_rating_url(book: @book.id), {class: 'btn btn-success'} %>
			</div>
	</div>
		<ul class="show_categories_list">
			<% @book.ratings.each do |rating| %>
				<li>
					<%= link_to rating, rating %>
					<%= link_to 'Delete', polymorphic_url(rating, book: @book.id), {
																	method: :delete, class: 'btn btn-danger btn-xs',
																	data: {confirm: "Are you sure you want to delete #{rating}?"}
																} %>
				</li>
			<% end %>
		</ul>
	</div>
<p><%= DateFormatter.default_format(@book.date_added) %></p>
