<%= render layout: 'shared/show' do %>
	<p><%= @book.author %></p>
	<p><%= @book.classification %></p>
	<p><%= @book.genre %></p>
	<p><%= @book.pre_rating %></p>
	<p>Lists:</p>
	<%= link_to 'Add to list', new_list_book_url(book: @book.id), {class: 'btn btn-success'} %>
		<ul>
			<% @book.lists.each do |list| %>
				<% list_book = (list.list_books & @book.list_books)[0] %>
				<li>
					<%= link_to list, list %>
					<%= link_to 'Remove', polymorphic_url(list_book, book: @book.id), {
																method: :delete, class: 'btn btn-danger',
																data: {confirm: "Are you sure you want to remove #{@book} from #{list}?"}
															} %>
				</li>
	 		<% end %>
	 	</ul>
	<p><%= @book.date_added.strftime('%m/%d/%Y') %></p>
<% end %>