<%= render layout: 'shared/show' do %>
	<%= 'hello' %>
	<p><%= @book.author %></p>
	<p><%= @book.classification %></p>
	<p><%= @book.genre %></p>
	<p><%= @book.pre_rating %></p>
	<p><%= @book.date_added.strftime('%m/%d/%Y') %></p>
<% end %>