<div class="container">
	<h1>Reporting for <%= @current_year %></h1>	
	<div class="stat_boxes">
		<%= render 'stat_box', heading: 'Number of Books Read', info: @current_ratings_num %>
		<%= render 'stat_box', heading: 'Lowest Rating', info: link_to(@current_ratings_min.short_name, @current_ratings_min) %>
		<%= render 'stat_box', heading: 'Highest Rating', info: link_to(@current_ratings_max.short_name, @current_ratings_max) %>
		<%= render 'stat_box', heading: 'Average Rating', info: @current_ratings_average %>
	</div>
	<section class="reporting_books_by_week">
		<h2>Books Read Per Week</h2>
		<div class="books_per_week_chart" id="books_per_week_chart"></div>
	</section>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(<%= raw @books_by_week %>);

        var options = {
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('books_per_week_chart'));

        chart.draw(data, options);
      }
    </script>