<%= link_to 'Add book', new_book_location_url(url_params), {class: 'btn btn-success btn-sm'} %>
<button data-barcode-trigger="true" class="btn btn-primary btn-xs">QR Code</button>
<ul class='show_subcategory_list'>
	<% location.books.sort_by(&:sort_title).each do |book| %>
		<% if book.looking_for? %>
			<% book_location = (book.book_locations & location.book_locations)[0] %>
			<li>
				<%= link_to book, book, {class: 'js_book_title'} %>
				<% if location.library.super_search_url  %>
					<%= link_to book_location.short_name, SuperSearch.url_for_engine(location.library.super_search_url, book.to_search_string), {class: 'super_search_link'} %>
				<% end %>
				<div class="btn_group">
				<%= render 'shared/delete_button', button_text: 'Remove', delete_url: polymorphic_url(book_location, url_params), confirm_text: "Are you sure you want to remove #{book} from #{location}?" %>
				
				<%= link_to SuperSearch.url_for(book.to_search_string), {class: 'btn btn-primary btn-xs btn_search'} do %>
					<div class="search_icon">&#9906;</div>
				<% end %>
				</div>
			</li>
		<% end %>
<% end %>
</ul>