<!DOCTYPE html>
<html>
<head>
  <title>Booklist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="total">
	<nav class='nav'>
		<div class="container">
			<%= link_to 'Booklist', root_url, {class: 'brand nav_heading'} %>
			
			<div class='nav_links clearfix'>
				<%= link_to 'Books', books_url(Book.default_index_params) %>
				<%= link_to 'Bookshelf', bookshelf_url %>
				<%= link_to 'Libraries', libraries_url %>
				<%= link_to 'Lists', lists_url %>
				<%= link_to 'Add Book', new_book_url, {class: 'btn btn-success'} %>
			</div>
		</div>
	</nav>
	<%= yield %>
</div>
<div class="footer">
	<ul class="footer_links">
		<li><%= link_to 'Fields', fields_url %></li>
	</ul>
</div>
<%= javascript_include_tag "app.min" %> 
</body>
</html>
